mat-toolbar {
  background-color:black;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  justify-content: space-between;
  height: 10%;

  .uniware {
    height: 100%; 
    cursor: pointer;
    outline: none;
  }

  input[type="text"],[type="password"] {
    background-color : #495057;
    border: solid 1px #495057;
    margin: 5px;
    color: white;
    width: 30%;
    border-radius: 4px;
    outline: none;
    padding: 5px;
  }

  input::placeholder{
    padding:5px;
  }

  button {
    margin: 5px;
    outline: none;
    width: 15%;
    padding: 5px;
    border: 1px solid green;
    border-radius: 5px;
    cursor: pointer;
  }

  .Login{
    background: none;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .loggedInUser {
    color: white;
    padding: 0 50px;
  }

  .username,
  .loggedInUser img {
    margin-right: 50px;
    width: 50px;
    height: 50px;
    z-index: 10;
  }

  .logout {
    background: none;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    font-size: 14px;
    width: 150px;
  }

}
