.container {
  width: 80%;
  height: 90%;
  left: 20%;
  top: 72px;
  position: fixed;
  display: flex;
  align-items: center;
}

.content {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.title {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #505050;
}

.tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-transform: capitalize;
}

.tabs span {
  cursor: pointer;
  flex: 1;
  padding: 20px 40px;
  font-size: 20px;
  border: 1px solid black;
}

.tabs span:hover {
  background: #cfcfcf;
}

.files {
  width: 100%;
  height: 400px;
  border: 1px solid black;
  border-radius: 0px 0px 10px 10px;
}

.lecture {
  border-top-left-radius: 10px;
}

.exam {
  border-top-right-radius: 10px;
}

.file{
  font-size: 18px;
  font-weight: 600;
  margin: 10px;
  cursor: pointer;
}

.footer button {
  padding: 10px;
  font-size: 15px;
  width: 130px;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer button {
  margin: 20px 50px 0px 0px;
}

label {
  margin-top: 20px;
}

.upload:hover,
.footer button:hover {
  background-color: rgb(226, 224, 224);
}

.upload:focus,
.footer button:focus {
  outline: none;
}


