* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow: hidden;
  background: url('../src/assets/UniWareWhite.png') no-repeat;
  background-size: 50%;
  background-position-x: 70%;
  background-position-y: center;
}