.main {
  height: 100vh;
}

.sidebar {
  // background-image: url('../../../assets/woods.jpg');
  background-color: #222222ee;
  height: 100%;
  width: 20%;
  color: rgb(218, 216, 216);
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  overflow: hidden;
  position: fixed;
}

.functions {
  margin: 10px;
  height: 10%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.functions button {
  padding: 10px;
  font-size: 15px;
  letter-spacing: 0.1em;
  cursor: pointer;
  background-color: rgb(218, 216, 216);
  border: none;
  border-radius: 5px;
}

.functions button:hover {
  background-color: white;
  box-shadow: -1px 14px 17px -6px rgba(0,0,0,0.75);
}

.functions button:focus {
  outline: none;
}

.subjects {
  margin: 10px;
  height: 85%;
}

.subjects .title {
  font-size: 24px;
  font-weight: 600;
  margin: 0px 0px 20px 0px;
  border-bottom: 1px solid rgb(218, 216, 216);
}

.subjects .subject {
  cursor: pointer;
  margin: 10px 5px;
  font-size: 16px;
  font-weight: 300;
}

.subject:hover {
  text-decoration: underline;
  color: white;
}

.subscriptions {
  // overflow-y: scroll;
}




